@-moz-document url-prefix("https://www.youtube.com")
{
  * {
    --ytd-mini-guide-width: 12px;
  }

  [aria-label="Shorts"],
  ytd-mini-guide-renderer {
    display: none !important;
  }

  #page-manager {
    /* margin-left: 12px; */
    /* margin-right: -6px; */
  }

  #frosted-glass {
    height: 52px !important;
  }

  #chips-wrapper,
  #chips {
    display: none !important;
  }

  #header.ytd-rich-grid-renderer {
    display: none !important;
  }

  #subscribe-button {
    max-width: 66px !important;
  }
}
